<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<style>
	.hold-transition {
		height:auto;
		font-family: "Microsoft YaHei";
	}
	.treeSearchInput button {
		font-family: "SimSun","Helvetica Neue",Helvetica,Arial;
	}
</style>
<div class="hold-transition box box-main">
	<input id="treeId"   name="treeId"    type="hidden" th:value="${dept.deptId}"/>
	<input id="treeName" name="treeName"  type="hidden" th:value="${dept.deptName}"/>
	<div class="wrapper"><div class="treeShowHideButton" onclick="$.tree.toggleSearch();">
		<label id="btnShow" title="显示搜索" style="display:none;">︾</label>
		<label id="btnHide" title="隐藏搜索">︽</label>
	</div>
	<div class="treeSearchInput" id="search">
		<label for="keyword">关键字：</label><input type="text" class="empty" id="keyword" autocomplete="off" maxlength="50">
		<button class="btn" id="btn" onclick="$.tree.searchNode()"> 搜索 </button>
	</div>
	<div class="treeExpandCollapse">
		<a href="#" onclick="$.tree.expand()">展开</a> /
		<a href="#" onclick="$.tree.collapse()">折叠</a>
	</div>
	<div id="tree" class="ztree treeselect"></div>
	</div>
	<script th:inline="javascript">
	    var deptId = [[${deptId}]];
	    var excludeId = [[${excludeId}]];
		$(function() {
			var url = $.common.isEmpty(excludeId) ? ctx + "system/dept/treeData": ctx + "system/dept/treeData/" + excludeId;
			var options = {
		        url: url,
		        expandLevel: 2,
		        onClick : zOnClick
		    };
			$.tree.init(options);
		});
		
		function zOnClick(event, treeId, treeNode) {
		    var treeId = treeNode.id;
		    var treeName = treeNode.name;
		    $("#treeId").val(treeId);
		    $("#treeName").val(treeName);
		}
	</script>
</div>
